* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    border-radius: 6px;
    transition: all 0.3s;
}

.button:hover {
    font-weight: bold;
    color: #ffffff;
    background: #fc569a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px 30px 80px;

    &__menu {
        display: flex;
        margin: 0 auto 0 100px;

        &__menu-item {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #1b0a42;
            transition: all 0.3s;
        }
    }

    &__menu-item + &__menu-item {
        margin-left: 38px;
    }

    &__buttons {
        display: flex;
    }
    
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 200px;

    &__inner {
        max-width: 580px;
    }

    &__title {
        font-family: Ramaraja;
        font-size: 72px;
        line-height: 76px;
        letter-spacing: 0.02em;
        color: #1b0a42;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #9a9a9a;
        margin-bottom: 50px;
    }
}
